<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.ojig">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".User.Login">
        </activity>
        <activity android:name=".Start"></activity>
        <activity android:name=".Flash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Choice"
            android:screenOrientation="portrait"/>

        <activity android:name=".User.Setting"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".Buy.Buy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy.Buy_Write"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Buy.Buy_Focus"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Sell.Sell"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sell.Sell_Write"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sell.Sell_Focus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Local.Local"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Local.Local_Focus"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Store.Store"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.Store_Write"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Store.Store_Focus"
            android:screenOrientation="portrait"/>

        <activity android:name=".Machine.Machine"
            android:screenOrientation="portrait"/>

        <activity android:name=".Machine.Machine_Focus"
            android:screenOrientation="portrait"/>

        <activity android:name=".Machine.Machine_Write"
            android:screenOrientation="portrait"/>


        <activity android:name=".Others.Others"
            android:screenOrientation="portrait"/>
        <activity android:name=".User.Join"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".User.Join_Address"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".promotion.Promotion"></activity>
        <activity android:name=".promotion.Promotion_Focus"></activity>

        <activity android:name=".Uitility.FullScreenVideoActivity"
            android:screenOrientation="landscape"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>